body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.section {
  padding: 120px 0px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-part {
  color: #2e2f42;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link,
.header-logo-part {
  color: #2e2f42;
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
}

.nav-items {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-items {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  align-items: center;
}
.address-link {
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hero styles */
.solutions {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.solution-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.solution-button {
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solution-button:hover,
.solution-button:focus {
  background-color: #404bbf;
}
/* Benefits styles */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits section .container {
  justify-content: center;
}
.benefits-items {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.benefits-item {
  width: calc((100% - 72px) / 4);
}
.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}
.benefits-svg {
}
.benefits-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our team styles */
.team {
  background-color: #f4f4fd;
}
.team-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-items {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}
.team-tex-block {
  padding: 32px 0px;
}
.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-img {
  width: 100%;
  height: auto;
}
.team-socials-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
.team-socials-svg {
}
/* Portfolio styles */
.portfolio-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitile {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-img {
  width: 100%;
  height: auto;
}
/* Footer styles */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-section {
  display: block;
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social-items {
  gap: 16px;
}
.footer-social-item {
  color: #8e8f99;
}
.footer-social-link {
  background-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-socials-text {
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
